<div class="options">
  <div class="option">
    <div class="image">
      <img src="${properties.imageLeft}" alt="Left Image"/>
    </div>
    <div class="info">
      <h2>${properties.text1}</h2>
      <p>${properties.description1 @ context='html'}</p>  
    </div>       
  </div>
  <div class="option">
    <div class="image">
      <img src="${properties.imageMiddle}" alt="Middle Image"/>
    </div>
    <div class="info">
      <h2>${properties.text2}</h2>
      <p>${properties.description2 @ context='html'}</p>  
    </div>          
  </div>
  <div class="option">
    <div class="image">
      <img src="${properties.imageRight}" alt="Right Image"/>
    </div>
    <div class="info">
      <h2>${properties.text3}</h2>
      <p>${properties.description3 @ context='html'}</p>
    </div>        
  </div>
</div>