<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collections</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="collections">
    <h2 class="heading-2">Collections</h2>
    <div class="desc-see-more">
      <h6 class="heading-6">
        Explore curated lists of top restaurants, cafes, pubs, and bars in Mumbai, based on trends
      </h6>
      <a href="#" class="see-more">
        All collections in Mumbai
        <i class="fa fa-caret-right"></i>
      </a>
    </div>

    <section class="collections-list">
      <div class="collection">
        <div class="image">
          <img src="/content/dam/training/collections1.png" alt="Christmas Special Restaurants" />
        </div>
        <div class="overlay">
          <div class="overlay-info">
            Christmas Special Restaurants
            <div class="places">
              46 Places
              <i class="fa fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="collection">
        <div class="image">
          <img src="/content/dam/training/collections2.png" alt="New Year's Celebration" />
        </div>
        <div class="overlay">
          <div class="overlay-info">
            New Year's Celebration
            <div class="places">
              28 Places
              <i class="fa fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="collection">
        <div class="image">
          <img src="/content/dam/training/collections3.png" alt="Newly Opened Places" />
        </div>
        <div class="overlay">
          <div class="overlay-info">
            Newly Opened Places
            <div class="places">
              36 Places
              <i class="fa fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="collection">
        <div class="image">
          <img src="/content/dam/training/collections4.png" alt="Top Trending Spots" />
        </div>
        <div class="overlay">
          <div class="overlay-info">
            Top Trending Spots
            <div class="places">
              24 Places
              <i class="fa fa-caret-right"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
